.imagen-contacto{
    width: 100px !important;
    height: 100px !important;

}

.contenedor-contenido{
    font-size: 5rem !important;
    text-align: end !important;
}

.subtema{
    font-size: 5rem !important;
}